<div class="card border-secondary ">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Listado del Subcircuitos</h5>
      <div *ngIf="subcircuitos.length==0" class="alert alert-info col-sm-3">
        No hay registros en la base de datos!
      </div>
  
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/subcircuitos/form']">Nuevo registro</button>
      </div>
      
      
  <table class="table table-bordered table-striped" *ngIf="subcircuitos.length>0">
      <thead>
          <tr>
              <th>Código de Subcircuito</th>
              <th>Nombre de Subcircuito</th>
              <th>CIRCUITO ASIGNADO</th>
              <th>
                Acción 
              </th>
              <th>
                Acción
              </th>
          </tr>
      </thead>
  
        <tbody>
          <tr *ngFor="let subcircuito of subcircuitos">
            <td>{{subcircuito.codigoSubcircuito}}</td>
            <td>{{subcircuito.nombreSubcircuito}}</td>
            <td>{{subcircuito.nombreCircuito}}</td>
            <td>
              <button class="col-sm-1" type="button"  name="btnEditar" [routerLink]="['/subcircuitos/form', subcircuito.idSubcircuito]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button class="col-sm-1" type="button" name="btnEliminar" (click)="deleteSubcircuito(subcircuito)" class="btn btn-danger">Eliminar</button>
            </td>
      </tbody>
      
    </table>
    <paginatorsubcircuito-nav *ngIf="paginadorSubircuito" [paginadorSubcircuito] = "paginadorSubircuito"></paginatorsubcircuito-nav>
  </div>
  
  <div>
  
  </div>
  
