<div class="card border-secondary ">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Listado del Distritos</h5>
      <div *ngIf="distritos.length==0" class="alert alert-info">
        No hay registros en la base de datos!
      </div>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/distritos/form']">Nuevo registro</button>
      </div>
      
      
  <table class="table table-bordered table-striped" *ngIf="distritos.length>0">
      <thead>
          <tr>
              <th>Código de Distrito</th>
              <th>Nombre de Distrito</th>
              <th>Parroquia</th>
              <th>
                Editar
              </th>
              <th>
                Eliminar
              </th>
          </tr>
      </thead>
      <tbody>
        <tbody>
          <tr *ngFor="let distrito of distritos  ">
          <td>{{distrito.codigoDistrito}}</td>
          <td>{{distrito.nombreDistrito}}</td>
          <td>{{distrito.parroquia}}</td>
          <td>
            <button type="button" name="btnEditar" [routerLink]="['/distritos/form', distrito.idDistrito]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="btnEliminar" (click)="deleteDistrito(distrito)" class="btn btn-danger">Eliminar</button>
          </td>
      </tbody>
    </table>
    <paginatordistrito-nav *ngIf="paginadorDistrito" [paginadorDistrito] = "paginadorDistrito"></paginatordistrito-nav>
  </div>

  <div>
  
  </div>
