
   <style>
.card{
    top: 100px;
    width: 800px;
    margin: 0 auto;
    float: none;
}

.card-body{
    padding: 20px;

}
.card-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    padding-bottom: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding: 5px;
} 

.btn-primary{
    margin-top: 20px;
    margin-left: 510px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #fff;
}
</style>

<div class="card">
    <div class="card-header">
        <div class="card-body">
            <h4 class="card-title">Formulario de Personal Policial</h4>

        <form #personaForm="ngForm">
            <div class="form-group row">
                <label for="cedula" class="col-form-label col-sm-3">Cédula</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.cedula" name="cedula" required #cedula="ngModel">
                    <div class="alert alert-danger" *ngIf="cedula.invalid && (cedula.touched)">
                        <div *ngIf="cedula.errors">
                            La cédula es requerida
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellidos" class="col-form-label col-sm-3">Apellidos</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.apellidos" name="apellidos" required #apellidos="ngModel">
                    <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.touched)">
                        <div *ngIf="apellidos.errors">
                            Los apellidos son requeridos
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-3">Nombres</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.nombres" name="nombres" required #nombres="ngModel">
                    <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.touched)">
                        <div *ngIf="nombres.errors">
                            Los nombres son requeridos
                        </div>
                     </div> 
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaNacimiento" class="col-form-label col-sm-3">Fecha de nacimiento</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" [(ngModel)]="persona.fechaNacimiento" name="fechaNacimiento" required #fechaNacimiento="ngModel" >   
                </div>
            </div>

            <div class="form-group row">
                <label for="tipoSangre" class="col-form-label col-sm-3">Tipo de sangre</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.tipoSangre" name="tipoSangre" required #tipoSangre="ngModel">
                    <div class="alert alert-danger" *ngIf="tipoSangre.invalid && (tipoSangre.touched)">
                        <div *ngIf="tipoSangre.errors">
                            El tipo de sangre es requerido
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="ciudadNacimiento" class="col-form-label col-sm-3">Ciudad de nacimiento</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.ciudadNacimiento" name="ciudadNacimiento" required #ciudadNacimiento="ngModel">
                    <div class="alert alert-danger" *ngIf="ciudadNacimiento.invalid && (ciudadNacimiento.touched)">
                        <div *ngIf="ciudadNacimiento.errors">
                            La ciudad de nacimiento es requerida
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="telefono" class="col-form-label col-sm-3">Teléfono</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="persona.telefono" name="telefono" required #telefono="ngModel">
                    <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.touched)">
                        <div *ngIf="telefono.errors">
                            El teléfono es requerido
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="rango" class="col-form-label col-sm-3">Rango</label>
                <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="persona.rango" name="rango" required #ciudadNacimiento="ngModel">

                        <option *ngFor="let opcion of opciones" [ngValue]="opcion">{{ opcion }}</option>
                    </select>
                </div>
            </div>

            

           
            

            <div class="form-group row">
                <div class="col-sm-6">
                         <button class="btn btn-primary" role="button" (click)='createPersona()' *ngIf="!persona.idPersona else elseBlock" [disabled]="!personaForm.form.valid">Guardar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='updatePersona()' [disabled]="!personaForm.form.valid"> Actualizar  </button>
                    </ng-template>
                </div>
            </div>
        </form>
         </div>
    </div>
</div>
