<nav class="navbar navbar-expand-lg bg-body-tertiary">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de Gestión Vehicular Policia Nacional</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
                
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Gestión Administrativa
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/listadopersonas">Personal Policial</a></li>
              <li><a class="dropdown-item" routerLink="/listadovehiculos">Flota Vehicular</a></li>
              
              <li>
              <a class="dropdown-item" href="#">Dependencias &raquo; </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" routerLink="/listadodistritos">Distritos</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/listadocircuitos">Circuitos</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/listadosubcircuitos">Subircuitos</a>
                </li>
              </ul>
            </li>

              <li><a class="dropdown-item" href="#">Contratos</a></li>
              <li><hr class="dropdown-divider"></li>

            
              <li>
                <a class="dropdown-item" href="#">Mantenimiento Vehicular &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" routerLink="/listadomantenimiento">Tipos de Mantenimientos</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/listadoitem">Items</a>
                  </li>
                
                </ul>
              </li>
            

        
            
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Asignaciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/listadodistritopersona">Dependencia a Personas</a></li>
              <li><a class="dropdown-item" routerLink="/listadodistritovehiculo">Dependencia a vehículo</a></li>
              <li><a class="dropdown-item" routerLink="/listadovehiculopersona">Vehiculo a Personal</a></li>
              <!--
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              -->
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento Vehicular
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Solicitud de Mantenimiento</a></li>
              <li><a class="dropdown-item" href="#">Registro de Mantenimiento</a></li>
              <li><a class="dropdown-item" href="#">Orden de Trabajo</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">...</a></li>
              <li><a class="dropdown-item" href="#">...</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-logo dropstart">
        <button type="button" class="btn btn-light" (click)="logout()" >
          SALIR       
        </button>
      
  </div>

  </nav>