
<ul *ngIf="paginas?.length>0" class="pagination" style="overflow:scroll">

    <li class="page-item" *ngIf="paginadorCircuito.number > 0">
        <a class="page-link" [routerLink]="['/listadocircuitos/page', paginadorCircuito.number-1]">&laquo;</a>
    </li>

    <li class="page-item" *ngFor="let pagina of paginas" ngClass="pagina-1 == paginador.number? 'disabled': ">
        <span class="page-link" *ngIf="pagina-1 == paginadorCircuito.number">{{ pagina }}</span>
        <a *ngIf="pagina-1 != paginadorCircuito.number" class="page-link" [routerLink]="['/listadocircuitos/page', pagina -1]">{{ pagina }}</a>
    </li>

    <li class="page-item" *ngIf="paginadorCircuito.number < paginadorCircuito.totalPages-1">
        <a class="page-link" [routerLink]="['/listadocircuitos/page', paginadorCircuito.number+1]">&raquo;</a>
    </li>
</ul>
